/* Estilos Generales */
.bloqGeneral{ width: 100%; display: flex; flex-wrap: wrap; justify-content: center; text-align: center;}
.bloq50{width: 50%; margin: 2% auto;display: flex; flex-wrap: wrap;justify-content: center; text-align: center; }
